# Database Configuration
DB_USER=root
DB_PASSWORD=123456
DB_NAME=liveagent

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Backend Configuration
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Redis Configuration
REDIS_URL=redis://redis:6379/0

# flask
FLASK_DEBUG=True
FLASK_SECRET_KEY=tXTCjeWx50yqcUERo6x1qCU
FLASK_HOST=0.0.0.0
FLASK_PORT=5173